<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="https://jakarta.ee/xml/ns/jakartaee" 
xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" 
id="WebApp_ID" version="6.0" metadata-complete="false">

   <!-- <context-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/spring-settings2.xml</param-value>
   </context-param>
   
   <listener>
      <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
   </listener> -->

<!-- 이거는 참고용 사용 X -->
<!-- <servlet>
	 <servlet-name>a</servlet-name>
	 <servlet-class></servlet-class>
	 <load-on-startup></load-on-startup>
	 <init-param>
	 <param-name>path</param-name>
	 	<param-value>/WEB-INF/aa.properties</param-value>
	 </init-param>
</servlet> -->

<!-- 이거는 참고용 사용 X -->
<!-- <servlet-mapping>
   <servlet-name>a</servlet-name>
   <servlet-url>/</servlet-url>
   
   <servlet-name>a</servlet-name>
   <servlet-class>클래스</servlet-class>
   
</servlet-mapping> -->


<!--  "WEB-INF" + servlet-name + "-servlet.xml" 기본 경로 -->
	<!-- <servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		  <init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring-dispatcher.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet> -->
	
	<!-- <servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping> -->
	

  <display-name>WebApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>

</web-app>