<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.boot3.demo.repository.menu.MenuRepository">

    <select id="findAll" resultType="MENU">
        SELECT * FROM MENU
        <where>
        <if test="categoryId != null">
            CATEGORY_ID = #{categoryId}
        </if>
        <if test="query != null">
            AND KOR_NAME LIKE '%' || #{query} || '%'
                OR ENG_NAME LIKE '%' || #{query} || '%'
        </if>
        </where>
    </select>

</mapper>