<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.boot3.demo.repository.menu.MenuImageRepository">
    <select id="findByMenuId" parameterType="Long">
        SELECT *
        FROM MENU_IMAGE
        WHERE MENU_ID = #{menuId}
    </select>

    <insert id="saveAll" parameterType="java.util.List">
        INSERT ALL
            <foreach collection="images" item="img">
                INTO MENU_IMAGE (SRC, MENU_ID, IS_DEFAULT)
                VALUES (#{img.src}, #{img.menuId}, #{img.isDefault})
            </foreach>
        SELECT * FROM DUAL
    </insert>
</mapper>