<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" th:href="@{css/reset.css}">
    <link rel="stylesheet" th:href="@{css/style.css}">
    <link rel="stylesheet" th:href="@{css/util.css}">
    <link rel="stylesheet" th:href="@{css/modal.css}">
    <link rel="stylesheet" th:href="@{css/icon.css}">
    <link rel="stylesheet" th:href="@{css/button.css}">
    <link rel="stylesheet" th:href="@{css/component.css}">
    <link rel="stylesheet" th:href="@{css/header.css}">
    <link rel="stylesheet" th:href="@{css/footer.css}">
    <link rel="stylesheet" th:href="@{css/aside.css}">
    <link rel="stylesheet" th:href="@{css/index.css}">

    <title>Document</title>
</head>
<body>
<div th:insert="~{inc/header :: header}"></div>

<div layout:fragment="main"></div>

<div th:insert="~{inc/footer :: footer}"></div>
</body>
</html>
