.n-form {
    label:has(> input[type="text"]:invalid:not(:placeholder-shown))::after {
        content: "";
        display: inline-flex;
        width: 24px;
        height: 24px;
        mask: url("/image/icon/invalid.svg") no-repeat center;
        background-color: red;
    }

    label {
        display: inline-flex;
        align-items: center;
        /*width: 700px;*/
    }

    label > span {
        width: 100px;
        /* 방향성에 따라서 위치가 달라서
           이름을 basis라고 했다.
         */
        flex-basis: 100px; /* 자식의 크기를 지정한다. */
    }

    label > input {
        /*flex-grow: 1;*/
    }

    /* flex-shrink: 0; : 줄어들지 않게 크기를 갖게 한다. */
    /* flex-grow: 0; : 늘어나지 않게 크기를 갖게 한다. */

    label:has(> input[type="text"]:valid:not(:placeholder-shown))::after {
        content: "";
        display: inline-flex;
        width: 24px;
        height: 24px;
        mask: url("/image/icon/valid.svg") no-repeat center;
        background-color: green;

        /*margin-left: auto;*/
        /*margin-right: auto;*/
    }

    input[type="text"]:invalid:not(:placeholder-shown) {
        background-color: red;
    }

    input[type="text"]:valid:not(:placeholder-shown) {
        background-color: darkolivegreen;
    }

    input[type="text"]:focus-within {
        border: 3px solid greenyellow;
    }
}
